<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <div class="panel panel-default">
        <div class="panel-body">
          <input type="file" (change)="onFileSelection($event)" placeholder="Upload a file" 
          accept=".png, .jpeg, .jpg">
        </div>

      </div>

    </div>

  <div class="row">
    <div class="col md-12">
      <div class="image-container">
        <app-compartir *ngFor="let post of postLists" [imageName]="post.data.name"
        [displayPostedBy]="true"></app-compartir>
      </div>
    </div>
  </div>

  </div>