<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand">Proyecto Angular</span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/Inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/TodosLosPosts" *ngIf="isLoggedIn">Todos los Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Siguiendo" *ngIf="isLoggedIn">Siguiendo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Favoritos" *ngIf="isLoggedIn">Favoritos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/MisPost" *ngIf="isLoggedIn">Mis Posts</a>
        </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isLoggedIn" style="color: white;">
                {{ email }}
            </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/Registrarse">Registrarse</a>
            </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/IniciarSesion">Iniciar Sesion</a>
            </li>
          <li class="nav-item" *ngIf="isLoggedIn" (click)="onLogout()">
                <a class="nav-link" routerLink="/Inicio">Salir</a>
            </li>
        </ul>
    </div>
</nav>
<br>